body {
    width: 700px;
}

.button {
    margin: 0;
}

.create-form > .row.first > .columns {
    margin-top: 0.5rem;
}
.create-form > .row.last > .columns {
    margin-bottom: 0.5rem;
}