<html lang="en" ng-app="App" ng-csp>
    <head>
        <title>One Click Event Creater</title>

        <!-- Libraries -->
        <script src="/node_modules/angular/angular.min.js"></script>
        <link rel="stylesheet" href="/node_modules/angular/angular-csp.css" />
        <script src="/node_modules/foundation-sites/js/vendor/jquery.js"></script>
        <script src="/node_modules/foundation-sites/js/foundation.min.js"></script>
        <link rel="stylesheet" href="/node_modules/foundation-sites/css/foundation.min.css">
        <script src="/node_modules/lodash/index.js"></script>
        <script src="/node_modules/moment/moment.js"></script>

        <!-- App -->
        <script src="/js/App.js"></script>
        <link rel="stylesheet" href="/css/App.css" />

        <!-- Services -->
        <script src="/js/services/AuthorizationService.js"></script>
        <script src="/js/services/CalendarService.js"></script>

        <!-- Directives -->

        <!-- Controllers -->
        <script src="/js/controllers/AppController.js"></script>
        <script src="/js/controllers/EventController.js"></script>
    </head>
    <body ng-controller="AppController">
        <form ng-controller="EventController" ng-submit="createEvent()">
            <div class="row">
                <div class="small-12 columns">
                    <label>
                        Event Title
                        <input type="text" ng-model="title" />
                    </label>
                </div>
            </div>
            <div class="row">
                <div class="small-12 columns">
                    <label>
                        Description
                        <textarea ng-model="description"></textarea>
                    </label>
                </div>
            </div>
            <div class="row">
                <div class="small-6 columns">
                    <label>
                        Start Time
                        <input type="datetime-local" ng-model="startTime" />
                    </label>
                </div>
                <div class="small-6 columns">
                    <label>
                        End Time
                        <input type="datetime-local" ng-model="endTime" />
                    </label>
                </div>
            </div>
            <div class="row">
                <div class="small-12 columns">
                    <label>
                        Guests
                        <input type="text" ng-model="guests" />
                    </label>
                </div>
            </div>
            <div class="row">
                <div class="small-12 columns">
                    <button type="submit" class="button">Create</button>
                </div>
            </div>
        </form>
    </body>
</html>